@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.sidebar {
  height: 100vh;
  width: 102px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar__icons {
  height: 100vh;
  padding-left: 35px;
  padding-top: 12px;
  padding-right: 33px;
  gap: 30px;
}

.sidebar__icon path:hover {
  fill: #3860AD;
}

.accountIcon {
  margin-top: auto;
  margin-bottom: 50px;
}

.title {
  display: inline-block;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: #222222;
  margin-right: 20px;
  padding-left: 39px;
  padding-top: 4px;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #FFFFFF;
  line-height: 1.3125rem;
  font-weight: 600;
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
button,
input,
textarea,
ul,
li {
  font-family: 'Poppins';
  margin: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
}

.container--pall {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.container--px {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.container--py {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.container--pt {
  padding-top: 2.5rem;
}

.container--pr {
  padding-right: 1.25rem;
}

.container--pb {
  padding-bottom: 2.5rem;
}

.container--pl {
  padding-left: 1.25rem;
}

.flex {
  display: flex;
}

.flex-fd-cl {
  flex-direction: column;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.signInContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.formLabel {
  display: block;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 6px;
}

.formInput {
  display: block;
  width: 360px;
  height: 40px;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid #999999;
  border-radius: 6px;
}

.formInput--blueBorder {
  border: 1px solid #5C90F3;
}

.newHereLink,
.forgot {
  font-size: 13px;
  font-weight: 500;
  line-height: 19px;
  color: #3861ad;
}

.loginBtn {
  display: block;
  margin: 0 auto;
  margin-bottom: 63px;
  padding: 6px 20px 6px 20px;
  background: #46B13D;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  cursor: pointer;
}

.formSignUp {
  text-align: center;
}

.newHere {
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #222222;
}

.shapeDesign {
  position: absolute;
  top: 0;
  right: 0;
}

.strong {
  font-size: 13px;
  font-weight: 500;
  line-height: 19px;
  color: #47b33d;
}

.fail {
  font-size: 13px;
  font-weight: 500;
  line-height: 19px;
  color: red;
}

#app-logo {
  margin-bottom: 60px;
}

#video-icon {
  margin-left: 10px;
  margin-bottom: 45px;
}

.video-topbar {
  flex: 1;
  position: relative;
}

.videoCancelBtn {
  margin-right: 20px;
  padding: 6px 20px 6px 20px;
  background: #F1F1F1;
  border-style: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #999999;
  cursor: pointer;
}

.videoSaveBtn {
  margin-right: 60px;
  padding: 6px 20px 6px 20px;
  background: #46B13D;
  border-style: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  cursor: pointer;
}

.line {
  opacity: 0.1;
  border: 1px solid #000000;
  width: 95%;
  margin: 0 auto;
  margin-top: 27px;
  margin-bottom: 20px;
}

.video-title {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-bottom-color: #B3CAF7;
  background-color: #FFFFFF;
  margin-left: 139px;
  margin-top: 46px;
  margin-bottom: 24px;
  width: 297px;
  height: 33px;
  line-height: 33px;
  font-weight: 500;
  font-size: 22px;
  color: #3861ad;
  caret-color: #3861ad;
}

.video-title:focus {
  outline: none;
}

#vector {
  cursor: pointer;
}

.titleModal {
  position: absolute;
  left: -102px;
  top: -41px;
  right: 0;
  bottom: 0;
  background-color: #FFFFFF;
  opacity: 0.9;
}

.desc-modal {
  margin-left: 139px;
  margin-bottom: 24px;
  width: 674px;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: #666666;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-width: 1px;
}

.tags {
  margin-left: 139px;
  margin-bottom: 26px;
}

.tags span {
  margin-right: 7px;
  border: 1px solid #999999;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
  line-height: 16px;
  padding: 3px 10px;
}

.saveBtn {
  display: block;
  margin-left: 139px;
  padding: 6px 20px 6px 20px;
  background: #46B13D;
  border-style: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  cursor: pointer;
}

.leftContainer {
  background-color: #F4F4F4;
  padding: 20px;
  border-radius: 20px;
  margin-left: 26px;
  margin-right: 40px;
  max-width: 740px;
  height: 640px;
}

.leftContainer .videoscript {
  display: block;
  width: 700px;
  margin-top: 18px;
  padding: 17px 30px;
  height: 188px;
  border-radius: 20px;
  border-style: none;
  font-size: 16px;
  line-height: 26px;
  color: #999999;
}

.leftContainer .listenBtn {
  position: relative;
  right: -30px;
  bottom: 44px;
  padding: 6px 20px 6px 20px;
  background: #F1F1F1;
  border-style: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #999999;
  cursor: pointer;
}

.rightContainer .selections {
  margin-bottom: 29px;
}

.rightContainer .selections button {
  border-style: none;
  background: #FFFFFF;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #999999;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.rightContainer .selections button:hover,
.rightContainer .selections button:focus {
  color: #3861ad;
}

.rightContainer .actors {
  gap: 11px;
  flex-wrap: wrap;
}

.rightContainer .actor-container:hover .actor,
.rightContainer .actor-container:focus .actor {
  color: #3860AD;
}

.rightContainer .actor-img {
  border: none;
  cursor: pointer;
}

.rightContainer .actor {
  display: block;
  background-color: #FFFFFF;
  margin: 0 auto;
  font-weight: 500;
  font-size: 12px;
  color: #666666;
  line-height: 18px;
  cursor: pointer;
  border-style: none;
}

.rightContainer .voices {
  gap: 20px;
}

.rightContainer .alignmentBtns {
  gap: 22px;
}

.rightContainer .alignmentBtn {
  padding: 13px 50px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  border-style: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.rightContainer .alignmentBtn:hover, .rightContainer .alignmentBtn:focus {
  color: #3860AD;
  background-color: #EBF2FF;
}

.rightContainer .backgroundsContainer {
  width: 501px;
  padding: 16px;
  background-color: #EBF2FF;
  border-radius: 6px;
}

.rightContainer .backgroundsContainer .images-bar {
  margin-bottom: 15px;
}

.rightContainer .backgroundsContainer .images-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #3860AD;
}

.saved__videos__container {
  position: relative;
  margin-left: 42px;
}

.saved__video {
  width: 286px;
  height: 238px;
  background: #F4F4F4;
  border-radius: 6px;
}

.saved__video__dots {
  display: inline-block;
  position: absolute;
  top: 7px;
  right: 13px;
  cursor: pointer;
}

.saved__video__img {
  position: relative;
  top: 5px;
  left: 5px;
  right: 5px;
}

.saved__video h3 {
  position: relative;
  margin-top: 11px;
  margin-bottom: 13px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  line-height: 19px;
  color: #222222;
}

.saved__video__btns {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.saved__video__btns button {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  background-color: #F4F4F4;
  color: #999999;
  padding: 1px 10px;
  cursor: pointer;
  border: 1px solid #999999;
  border-radius: 6px;
}

.logoutBtn {
  margin-right: 40px;
  padding: 6px 20px 6px 20px;
  background: #FFFFFF;
  border-style: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #EE6363;
  cursor: pointer;
}

.account--nav {
  gap: 30px;
  list-style: none;
  margin-bottom: 45px;
}

.account--nav li {
  font-weight: 500;
  font-size: 15px;
  color: #999999;
  line-height: 22px;
  cursor: pointer;
}

.account--nav li:hover {
  color: #3860AD;
}

.profilepic {
  margin-left: 39px;
}

.profileContainer {
  display: flex;
  align-items: center;
  margin-bottom: 43px;
  gap: 20px;
}

.formContainer {
  max-width: 900px;
  margin-left: 39px;
  flex-wrap: wrap;
}

.formContainer__child {
  margin-right: 40px;
}

.save {
  margin-top: 25px;
  margin-left: 39px;
}

.billingContainer {
  margin-left: 31px;
  margin-bottom: 32px;
}

.billingContainer button {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  border-style: none;
  background-color: #FFFFFF;
  color: #222222;
  opacity: 0.5;
  cursor: pointer;
}

.referenceId {
  text-align: left;
  flex-basis: 308px;
}

.date {
  text-align: left;
  flex-basis: 157px;
}

.amount {
  text-align: left;
  flex-basis: 146px;
}

.recordsText {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #222222;
}

.plans {
  gap: 32px;
  flex-wrap: wrap;
  margin-left: 15px;
}

.plan {
  max-width: 240px;
  height: 417px;
  border-radius: 10px;
}

.plan__title {
  margin-left: 25px;
  margin-top: 24px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}

.plan ul {
  list-style: none;
}

.plan li {
  margin-left: -15px;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.plan li span {
  margin-right: 15px;
}

.plan__price__container {
  margin-top: 25px;
  margin-bottom: 11px;
}

.plan__price {
  display: inline;
  margin-left: 25px;
  font-size: 17px;
  line-height: 25px;
  color: #181059;
  opacity: 0.96;
}

.plan__price2 {
  display: inline;
  font-size: 30px;
  color: #181059;
  opacity: 0.96;
}

.plan button {
  display: block;
  margin: 0 auto;
  width: 212px;
  height: 48px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3860AD;
  border-style: none;
  background-color: #EBF2FF;
  border-radius: 6px;
}

.current {
  border-radius: 10px;
  background-color: #46B13D;
  color: #FFFFFF;
}

.currentContainer {
  margin-top: -32px;
}

#currentli {
  color: #FFFFFF;
}

#currentBtn {
  background-color: #46B13D;
  font-size: 20px;
  line-height: 30px;
  color: #1C7714;
}

.page {
  transition: opacity 0.5s ease-in-out;
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 2000ms;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 2000ms;
}

.my-node {
  opacity: 0;
}

.my-node-enter {
  opacity: 0;
}

.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.my-node-exit {
  opacity: 1;
}

.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
/*# sourceMappingURL=style.css.map */